t# Projeto 1 - Ci√™ncia dos Dados

Nome: Ariel Tamezgui Leventhal

Nome: Felipe Liberman Fuchs

Nome: Victoria Leal Garcia de Souza

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from emoji import UNICODE_EMOJI

In [2]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
/home/ariel/naive-bayes-classifier

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
filename = 'ps5.xlsx'

In [4]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Categoria Unnamed: 2
0  @jamiltdavis @vicious696 i say the cutoff shou...          4        NaN
1  @rgt_85 @obe1plays when @rgt_85 tweets at you....          4        NaN
2  @one_gamergal6 @xboxstockalerts if you guys st...          3        NaN
3  @mbeasleysburner @wario64 they are literally l...          4        NaN
4  first couple followers to give us a private  m...          4        NaN

In [5]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Categoria  gabas
0  @cataferal hi tom, a couple things. in your f1...        NaN      1
1  @infamizmikep if the conversation is about gam...        NaN      2
2  @jte2409 @mcquack306 no free upgrade from ps4 ...        NaN      2
3  @abduplays_ just in time because i just got a ...        NaN      4
4                                   y‚Äôall gotta ps5?        NaN      4

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

O produto escolhido foi o console Playstation 5 (PS5). Para fins de relev√¢ncia, optamos seguir a seguinte lista: 
</br>
<li> Muito relevante: Tweets que possuem uma cr√≠tica (positiva ou negativa) sobre o produto que tenha fundamento em  alguma qualidade ou caracter√≠stica do console.
<li> Relevante: Tweets que possuem uma cr√≠tica (positiva ou negativa) sobre o produto sem especificar alguma qualidade ou caracter√≠stica do console.
<li> Pouco Relevante: Tweets que comentam sobre a falta de estoque do PS5 e/ou da dificuldade de comprar um console.
<li> Irrelevante: Tweets que n√£o se encaixam em nenhuma das outras categorias, incluindo: memes, reclama√ß√µes sobre algum jogo de PS5, promo√ß√µes e sorteios para conseguir um PS5, entre outros.
</li>
</br>
Tweets que poderiam ser classificados como Relevante mas que contenham alguma proposta de solu√ß√£o a algum problema indicado nos Tweets foram classificados como Muito Relevante, mesmo n√£o tendo coment√°rio espec√≠fico sobre alguma qualidade ou caracter√≠stica do console.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

* $P(Categoria|Texto) = \frac{P(Texto|Categoria) \cdot P(Categoria)}{P(Text)} = \frac{\sum_0^n P(Palavra|Categoria) \cdot P(Categoria)}{P(Text)}$

In [6]:
train.Categoria = train.Categoria.astype('category')
train.Categoria.cat.categories = ["Muito Relevante","Relevante", "Pouco Relevante", "Irrelevante"]
train.head()

,Treinamento,Categoria,Unnamed: 2
0,@jamiltdavis @vicious696 i say the cutoff shou...,Irrelevante,NaN
1,@rgt_85 @obe1plays when @rgt_85 tweets at you....,Irrelevante,NaN
2,@one_gamergal6 @xboxstockalerts if you guys st...,Pouco Relevante,NaN
3,@mbeasleysburner @wario64 they are literally l...,Irrelevante,NaN
4,first couple followers to give us a private m...,Irrelevante,NaN

In [7]:
special_letters = {",", "'", '"', ".", "!", "?", ";", ":", "[", "]","{", "}", "(", ")", "#", "/",  "\\", "https","+", "*", "-"}
stopwords = {'a', 'about', 'above', 'after', 'again', 'against', 'all', 'am', 'an', 'and', 'any', 'are', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below',
            'between', 'both', 'but', 'by', "can't", 'cannot', 'could', "couldn't", 'did', "didn't", 'do', 'does', "doesn't", 'doing', "don't", 'down', 'during', 'each', 'few', 'for',
            'from', 'further', 'had', "hadn't", 'has', "hasn't", 'have', "haven't", 'having', 'he', "he'd", "he'll", "he's", 'her', 'here', "here's", 'hers', 'herself', 'him', 'himself',
            'his', 'how', "how's", 'i', "i'd", "i'll", "i'm", "i've", 'if', 'in', 'into', 'is', "isn't", 'it', "it's", 'its', 'itself', "let's", 'me', 'more', 'most', "mustn't", 'my',
            'myself', 'no', 'nor', 'not', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'ought', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 'same', "shan't", 'she', "she'd",
            "she'll", "she's", 'should', "shouldn't", 'so', 'some', 'such', 'than', 'that', "that's", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', "there's", 'these',
            'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 'very', 'was', "wasn't", 'we', "we'd", "we'll", "we're",
            "we've", 'were', "weren't", 'what', "what's", 'when', "when's", 'where', "where's", 'which', 'while', 'who', "who's", 'whom', 'why', "why's", 'with', "won't", 'would',
            "wouldn't", 'you', "you'd", "you'll", "you're", "you've", 'your', 'yours', 'yourself', 'yourselves'}

In [8]:
def is_not_user(word): # retorna se uma palavra √© um nome de usuario 
    return not word[0] == "@"

def is_not_stopword(word): # retorna se uma palavra √© uma stopword
    return not word in stopwords

def is_emoji(letter): # retorna se um caractere √© um emoji
    return letter in UNICODE_EMOJI["en"]

def is_special(letter): # retorna se o caractere √© um caractere especial
    return letter in special_letters

def clean_up(text):
    final_text= ""
    for letter in text:
        if is_emoji(letter):
            final_text += f" {letter} " # separa emojis
        elif is_special(letter):
            final_text += " " # filtra caracteres especiais com exce√ß√£o de "_" para evitar atrapalhar o filtro de nome de usuarios
        else:
            final_text += letter

    return ' '.join(word.replace("_"," ") for word in final_text.split() if is_not_user(word) and is_not_stopword(word)).strip() # filtra usuarios, stopwords, caracteres especiais e "_"

In [9]:
train = train.drop("Unnamed: 2",axis=1)
train.head(1)

                                         Treinamento    Categoria
0  @jamiltdavis @vicious696 i say the cutoff shou...  Irrelevante

In [10]:
train.Categoria = train.Categoria.apply(lambda x: x.lower())

In [11]:
words_count = {cat: dict() for cat in train.Categoria.cat.categories}
print(words_count)
words = set()
for i, tweet_data in train.iterrows(): # itera pelas linhas do dataframe
    tweet = tweet_data.Treinamento # separa a coluna do tweet
    
    for word in clean_up(tweet).split(): # faz limpezas no texto
        words.add(word)
        cat_dict = words_count[tweet_data.Categoria]
        cat_dict[word] = cat_dict.get(word, 0)+1 # garante que a palavra existe no dicionario. caso exista o count √© incrementado, caso contr√°rio a palavra √© adicionada com count=1
        
M = words_count['muito relevante']
R = words_count['relevante']
P = words_count['pouco relevante']
I = words_count['irrelevante']
I

{'muito relevante': {}, 'relevante': {}, 'pouco relevante': {}, 'irrelevante': {}}

{'say': 7,
 'cutoff': 2,
 'whenever': 2,
 'market': 1,
 'calms': 1,
 'anyone': 8,
 'wants': 2,
 'ps5': 336,
 'can': 29,
 'get': 57,
 'one': 28,
 'point': 4,
 'won': 3,
 't': 169,
 'wanting': 1,
 'play': 17,
 'game': 37,
 'settle': 1,
 'll': 7,
 'choice': 2,
 'consumer': 4,
 'tweets': 1,
 'things': 3,
 'real': 3,
 'ü§£': 1,
 'personally': 3,
 'just': 41,
 'think': 13,
 'whole': 5,
 'upgrading': 1,
 'current': 2,
 'gen': 15,
 'confusing': 2,
 'used': 3,
 'able': 6,
 'plop': 1,
 '20': 2,
 'bucks': 3,
 'upgrade': 38,
 'hopefully': 3,
 'enough': 2,
 'people': 19,
 'know': 8,
 'deluxe': 8,
 'will': 27,
 'version': 42,
 'well': 6,
 'literally': 5,
 'like': 21,
 '2': 18,
 'mil': 2,
 'short': 3,
 'selling': 3,
 'much': 6,
 'first': 13,
 'couple': 5,
 'followers': 4,
 'give': 8,
 'us': 6,
 'private': 2,
 'message': 3,
 'sell': 3,
 'near': 2,
 'retail': 6,
 'price': 8,
 '‚ù§': 3,
 'Ô∏è': 10,
 'üëá': 2,
 'üèª': 1,
 'https': 135,
 'co': 135,
 'kieqvoqtzv': 1,
 'missed': 4,
 'drop': 4,
 'shoot': 2,
 'dm': 5,
 'ps5‚Äôs': 2,
 'xbox‚Äôs': 2,
 'available': 5,
 'xbox': 39,
 'ps5restock': 7,
 'm9yln7arsy': 2,
 'guess': 4,
 'got': 14,
 'practical': 1,
 'currently': 1,
 'ps4': 98,
 'free': 23,
 'check': 3,
 'confirm': 1,
 'that‚Äôs': 7,
 'case': 1,
 'buy': 24,
 'it‚Äôs': 11,
 'always': 3,
 'bad': 5,
 'gamble': 1,
 'something': 7,
 'don‚Äôt': 8,
 'yet': 6,
 'oh': 4,
 'saying': 3,
 '‚Äúonly‚Äù': 1,
 'sells': 1,
 'little': 4,
 'considering': 1,
 '7': 6,
 'party': 2,
 'ps': 7,
 'games': 40,
 'crossgen': 2,
 'launch': 9,
 'title': 6,
 '3': 11,
 'total': 2,
 'titles': 4,
 'favourite': 1,
 'anime': 1,
 'dragon': 2,
 'ball': 1,
 's': 38,
 'naruto': 1,
 'bleach': 1,
 'sailor': 1,
 'moon': 1,
 'fairy': 1,
 'tale': 1,
 'pokemon': 1,
 'digimon': 1,
 'bayblade': 1,
 'duel': 1,
 'masters': 1,
 'kid': 2,
 'muscle': 1,
 'plus': 3,
 'dropping': 1,
 'waste': 1,
 'space': 2,
 'internal': 1,
 'hdd': 1,
 'use': 7,
 'external': 1,
 'instead': 1,
 'coinbeastsweepstakes': 1,
 'ayo': 1,
 'mr': 2,
 'beast': 1,
 'i‚Äôve': 5,
 'subscribed': 1,
 'since': 10,
 'gave': 1,
 'person': 2,
 'money': 2,
 'really': 14,
 'looking': 4,
 'buying': 12,
 'adding': 1,
 'v': 2,
 'bux': 1,
 'fortnite': 2,
 'account': 2,
 'thank': 4,
 'blessed': 1,
 '‚Ä¶': 1,
 'lucky': 1,
 'req': 1,
 'i‚Äôm': 9,
 'still': 16,
 'waiting': 7,
 'matt': 1,
 'back': 10,
 'trust': 1,
 'day': 7,
 'a‚Äôcomin': 1,
 'aaaaaaaaaa': 1,
 'gimme': 1,
 'acti': 2,
 'release': 6,
 'wl': 1,
 'xone': 2,
 'yes': 4,
 'coming': 8,
 'previous': 2,
 'cause': 3,
 'new': 16,
 'generation': 2,
 'consoles': 1,
 'comes': 7,
 'many': 3,
 'publishers': 2,
 'support': 4,
 'least': 6,
 'years': 3,
 'xsx': 2,
 'sometime': 4,
 'later': 1,
 'ns': 1,
 'pc': 13,
 'code': 5,
 'janauary': 1,
 'consistency': 1,
 'don': 14,
 'blame': 1,
 'sony': 19,
 'ineptness': 1,
 'miles': 3,
 'morelas': 1,
 'recieve': 1,
 'upgrades': 5,
 'now': 20,
 've': 6,
 'learned': 1,
 '5rrlztp2u6': 1,
 'damn': 2,
 'girl': 1,
 'gotta': 1,
 'finally': 3,
 'finished': 1,
 'ff7r': 3,
 'intergrade': 2,
 'holy': 1,
 'shit': 6,
 'even': 9,
 'better': 7,
 'loved': 1,
 'playing': 3,
 'story': 3,
 'especially': 2,
 'improved': 3,
 'visuals': 1,
 'however': 1,
 'dlc': 4,
 'shines': 1,
 'yuffie': 1,
 'badass': 1,
 'ending': 1,
 'insane': 2,
 'next': 16,
 'soon': 5,
 'pls': 2,
 'x4nymsumsq': 1,
 'right': 9,
 'fortunate': 1,
 'series': 14,
 'x': 15,
 'great': 2,
 'gaming': 9,
 'around': 3,
 'deadbydaylight': 1,
 'dbd': 1,
 'twitch': 11,
 'youtube': 4,
 'ps4live': 1,
 'ps5live': 1,
 'weed': 1,
 '420': 1,
 'gamer': 6,
 'bsas': 1,
 'stream': 8,
 'horror': 2,
 '1': 8,
 'live': 9,
 'suw9yoyim1': 1,
 'separate': 3,
 'sku': 1,
 'disc': 6,
 'actually': 3,
 'ever': 6,
 'machines': 1,
 'obsolete': 1,
 'online': 5,
 'long': 3,
 'dead': 1,
 'preserved': 1,
 '4': 2,
 'achievements': 3,
 'hunter': 1,
 'colorful': 1,
 'colore': 1,
 '1000': 1,
 'update': 9,
 'win': 3,
 '10': 7,
 '5': 5,
 'good': 7,
 'luck': 3,
 'üëç': 1,
 'üçÄ': 3,
 'streamer': 6,
 'xboxshare': 4,
 'smallstreamersconnect': 1,
 'supportsmallstreamers': 3,
 'thestreamhelper': 1,
 'playstation5': 14,
 'twitchstreamers': 1,
 'gy2kkjh7l4': 1,
 'pre': 5,
 'ordered': 2,
 'horizon': 20,
 'forbidden': 14,
 'west': 14,
 'special': 3,
 'edition': 10,
 'm': 11,
 'excited': 2,
 'february': 1,
 '18th': 2,
 'dooifhdlqg': 1,
 '$270': 1,
 'aud': 2,
 '$360': 1,
 'collectors': 1,
 'sets': 1,
 'horizonforbiddenwest': 1,
 'tdjyeufog6': 1,
 'opinion': 1,
 'respect': 3,
 'hades': 1,
 '$30': 2,
 'less': 5,
 'caused': 1,
 'buzz': 1,
 'cross': 4,
 'remember': 3,
 'makes': 2,
 'doesn': 3,
 'make': 6,
 'aaa': 1,
 'sold': 6,
 '500k': 1,
 'vs': 2,
 '10mil': 1,
 'agree': 5,
 'option': 2,
 'question': 1,
 'playstation': 29,
 'mandatory': 1,
 'thing': 3,
 'studio': 1,
 'going': 8,
 'forward': 2,
 'pfp': 1,
 'refuses': 3,
 'accept': 2,
 'fucking': 4,
 'scummy': 1,
 'microsoft': 6,
 'friendly': 2,
 'ue5': 1,
 'downscaled': 1,
 'run': 5,
 'console': 12,
 'constantly': 1,
 'shits': 1,
 'reason': 6,
 'gatekeeps': 1,
 'thinks': 2,
 '4k': 1,
 '120fps': 1,
 '&amp': 15,
 'ray': 3,
 'tracing': 3,
 'mannnnn': 1,
 'scamming': 1,
 'üòÇ': 7,
 'scary': 1,
 'h9fal1jlu1': 1,
 'tweet': 1,
 'direct': 1,
 'üö®': 7,
 '‚òë': 1,
 'ps5share': 5,
 'ps5drop': 2,
 'xboxseriesx': 7,
 'didnt': 1,
 'ü§î': 3,
 'mean': 3,
 'setup': 1,
 'ps3': 3,
 'switch': 6,
 'take': 3,
 'üá™üá∏': 1,
 'spanish': 1,
 'guide': 1,
 'üé¨': 1,
 'nzezh6ok7e': 1,
 'üèÜ': 1,
 'break': 2,
 'head': 2,
 '‚è±': 1,
 '15': 1,
 'üí∏': 3,
 '99': 11,
 'üéÆ': 3,
 'stacks': 1,
 'horrorbreakheadtohead': 1,
 'horrorbreak': 2,
 'headtohead': 1,
 'trophyhunter': 1,
 'trophyhunting': 1,
 'smobileinc': 1,
 'sushibreak': 1,
 'indiedev': 1,
 'indiegame': 1,
 'indiegameswtf': 1,
 'dthdsntwfk': 1,
 'everytime': 1,
 'go': 9,
 'look': 5,
 'lol': 10,
 'nooooooo': 1,
 'chosen': 2,
 'another': 4,
 'date': 3,
 'showcase': 10,
 'took': 1,
 'september': 9,
 '9': 5,
 'hasard': 1,
 'üòè': 1,
 'without': 5,
 'counting': 1,
 'posts': 1,
 'official': 3,
 'crash': 1,
 'relation': 1,
 'rookie': 1,
 'mistake': 2,
 'never': 9,
 'leave': 1,
 'home': 1,
 'brought': 2,
 'homepod': 1,
 'minis': 1,
 'bih': 1,
 'connect': 1,
 'üòí': 1,
 'also': 7,
 'pretty': 4,
 'every': 5,
 'electronic': 1,
 'unfortunately': 2,
 'way': 5,
 'haumjbtlim': 1,
 'guy': 1,
 'said': 10,
 'exposed': 2,
 'video': 2,
 'impressed': 1,
 'putting': 3,
 'temp': 1,
 'week': 6,
 'offer': 2,
 '‚Äòa': 1,
 'future': 3,
 'ps5‚Äô': 1,
 'cv40fo0j6v': 1,
 'deposits': 2,
 'knew': 2,
 'receive': 2,
 'tesla': 1,
 'cybertruck': 1,
 'happen': 2,
 'form': 1,
 'presented': 1,
 'legally': 1,
 'made': 4,
 'aware': 1,
 'hi': 1,
 'congrats': 2,
 'mine': 1,
 'bigw': 1,
 'wanted': 5,
 'received': 2,
 'model': 3,
 'lighter': 1,
 '300gm': 1,
 'appreciate': 3,
 'let': 5,
 'platforms': 2,
 'xseriesx': 1,
 'article': 1,
 'wapo': 1,
 'quote': 1,
 'doesnt': 1,
 'include': 3,
 'name': 1,
 'someone': 2,
 'added': 2,
 'sngfodhoam': 1,
 'oddly': 1,
 'exact': 2,
 'jim': 2,
 'ryan': 2,
 'wrote': 1,
 'blog': 3,
 'post': 5,
 'clearly': 1,
 'states': 2,
 'upgraded': 2,
 'w2drzj7xd0': 1,
 'icymi': 1,
 'path': 6,
 'convoluted': 1,
 'standard': 8,
 'editions': 5,
 'g0xjh5y0p5': 1,
 'predictions': 2,
 'event': 6,
 'grand': 1,
 'theft': 1,
 'auto': 1,
 'e&amp': 1,
 'e': 1,
 'gameplay': 5,
 'death': 4,
 'stranding': 2,
 'dc': 2,
 'trailer': 7,
 'tlou': 1,
 'factions': 3,
 'teaser': 3,
 'sunset': 1,
 'overdrive': 1,
 'call': 3,
 'duty': 2,
 'vanguard': 1,
 'god': 6,
 'war': 9,
 'ragnarok': 4,
 'gran': 1,
 'turismo': 1,
 'bluepoint': 2,
 'acquisition': 1,
 'mgs': 1,
 'clqdwakhvm': 1,
 'czznphumgs': 1,
 'doesn‚Äôt': 4,
 'anything': 3,
 'controller': 6,
 'sure': 4,
 'uncharted': 1,
 'w2bhbycymq': 1,
 'morning': 2,
 'please': 2,
 'introduce': 1,
 'physical': 5,
 'can‚Äôt': 7,
 'digital': 11,
 'lets': 1,
 'hot': 1,
 'xmvhzjlo1a': 1,
 'warzone': 8,
 'cod': 5,
 'coldwar': 1,
 'pcgaming': 3,
 'smallstreamer': 1,
 'expensive': 1,
 'versions': 12,
 'jlhw0qccbw': 1,
 'kwuhxj8pny': 1,
 'try': 7,
 'ms': 1,
 'store': 1,
 'says': 3,
 'reached': 2,
 'max': 3,
 'bought': 5,
 'life': 2,
 'wtf': 1,
 'comparing': 1,
 'releasing': 1,
 'time': 7,
 'skyward': 1,
 'sword': 1,
 'hd': 1,
 'visual': 1,
 'came': 4,
 'decade': 1,
 'original': 1,
 'wanna': 3,
 'screenshots': 2,
 'doubt': 2,
 'community': 2,
 'interact': 1,
 'want': 20,
 'either': 6,
 'wait': 9,
 'hard': 3,
 'need': 8,
 'mad': 3,
 'bullshit': 1,
 'entitled': 1,
 'i‚Äôll': 4,
 'top': 3,
 'platform': 1,
 'agnostic': 1,
 'must': 1,
 'bugsnax': 1,
 '09': 1,
 'pathless': 1,
 '08': 1,
 'ghost': 2,
 'tsushima': 3,
 '07': 1,
 '06': 1,
 'spiderman': 4,
 'remastered': 2,
 '05': 1,
 'astro': 1,
 'playroom': 1,
 '04': 2,
 'rift': 1,
 'apart': 1,
 '03': 1,
 'morales': 2,
 '02': 1,
 'returnal': 2,
 '01': 1,
 'demons': 1,
 'souls': 2,
 '5amxjxp9tt': 1,
 'bro': 2,
 'üòø': 1,
 'fact': 2,
 'there‚Äôs': 2,
 'shortage': 1,
 'end': 4,
 'bottleneck': 1,
 'quick': 2,
 'google': 1,
 'hzd': 1,
 '10m': 2,
 'copies': 2,
 '2019': 1,
 '100m': 1,
 'ps4s': 2,
 'assuming': 1,
 'everyone': 4,
 '1st': 4,
 '1m': 2,
 'sales': 5,
 'hey': 2,
 'guys': 3,
 'niece': 1,
 'follow': 3,
 'greatly': 1,
 'üòò': 3,
 'zosi08ooxy': 1,
 'twitchgirl': 1,
 'twitchgamer': 1,
 'twitchstream': 1,
 'deed': 1,
 'done': 4,
 'help': 7,
 'page': 1,
 'reminders': 1,
 'nogfpaw8wc': 1,
 'description': 1,
 'copy': 4,
 'systems': 1,
 '2yzutmprur': 1,
 '1sfkpdjibw': 1,
 'npxrdgwvou': 1,
 'seaoftheives': 1,
 'callofduty': 2,
 'ftrp': 1,
 'geek': 1,
 'smite': 1,
 'videogames': 2,
 'halo': 1,
 'tesd': 1,
 'ants': 1,
 '4colordemons': 1,
 '2021': 4,
 'wvipveisq2': 1,
 'playstationshowcase2021': 1,
 'playstationshowcasepredictions': 1,
 'feature': 3,
 'wspychiec7': 1,
 'product': 2,
 'ran': 2,
 'bit': 1,
 'marvelsspidermanmilesmorales': 1,
 'tonight': 1,
 'tflwpsrvmb': 1,
 'facebookgaming': 1,
 '5tcpsdzui6': 1,
 'absolute': 2,
 'impossible': 1,
 'situation': 1,
 '|': 12,
 'hope': 3,
 'dark': 1,
 'pictures': 1,
 'anthology': 1,
 'ep': 2,
 'tyatqkpaqt': 1,
 'enhanced': 2,
 'download': 5,
 'months': 3,
 'exclusively': 1,
 'üòÅ': 1,
 'na': 2,
 'thursday': 1,
 'nigh': 1,
 'verdansk': 1,
 'livestreaming': 1,
 'northernirelandstreamer': 1,
 'youtubegaming': 2,
 'goodtimes': 1,
 'irlpurab7b': 1,
 'pick': 4,
 'sx': 1,
 'brainer': 1,
 'seemed': 1,
 'nba2k22': 2,
 'giveaway': 3,
 'hit': 3,
 '500': 3,
 'ig': 3,
 'baglyfeyung': 1,
 'comment': 1,
 'recent': 1,
 'pic': 1,
 'random': 1,
 'winner': 2,
 'kwamahsw5q': 1,
 'pants': 1,
 'walmart': 2,
 'self': 1,
 'checkout': 1,
 'ge8djaanja': 1,
 'dream': 2,
 'final': 1,
 'fantasy': 1,
 '16': 1,
 'gow': 1,
 'silent': 2,
 'hill': 2,
 'stars': 1,
 'sly': 2,
 'cooper': 2,
 'remake': 3,
 'collection': 1,
 'devil': 1,
 'inside': 1,
 'granblue': 1,
 're': 6,
 'link': 7,
 'metal': 1,
 'gear': 1,
 'old': 2,
 'ips': 1,
 'sequel': 2,
 'within': 1,
 'menu': 1,
 'terrible': 1,
 'plan': 3,
 'pay': 7,
 'alongside': 1,
 'extras': 1,
 'issue': 1,
 'lack': 1,
 'we‚Äôre': 2,
 'talking': 3,
 '$10': 3,
 'difference': 3,
 'fast': 1,
 'food': 1,
 'order': 5,
 'lmao': 5,
 'probably': 7,
 'unless': 3,
 'willing': 3,
 'put': 3,
 'bread': 1,
 'shadow': 1,
 'bloodborne': 2,
 'defend': 1,
 'fw': 2,
 'getting': 7,
 'aside': 1,
 '‚Ç¨200': 1,
 '‚Ç¨270': 1,
 'deserve': 2,
 'todayingaming': 1,
 'summer': 1,
 'pm': 2,
 'pt': 1,
 'report': 1,
 'cyberpunk': 2,
 '2077': 1,
 'may': 2,
 'arrive': 1,
 'cookie': 1,
 'clicker': 1,
 'steam': 1,
 'clicks': 1,
 'users': 2,
 '98%': 1,
 'rating': 1,
 'escegjvhum': 1,
 'see': 11,
 'problem': 3,
 'else': 1,
 'u': 11,
 'heat': 4,
 'making': 4,
 'kinds': 1,
 'minor': 1,
 'problems': 1,
 'e9gh4v75mz': 1,
 'fanboys': 1,
 'sending': 1,
 'austin': 3,
 'evans': 3,
 'threats': 2,
 'care': 4,
 'ok': 5,
 'ce': 1,
 'farce': 1,
 'agreed': 1,
 'terms': 1,
 'points': 1,
 'fine': 2,
 'invest': 1,
 'stick': 2,
 '100': 2,
 'hours': 2,
 'high': 1,
 'find': 2,
 'odd': 1,
 'everybody': 1,
 'everything': 2,
 'days': 2,
 'thinking': 1,
 'amazon': 3,
 'worth': 2,
 'due': 2,
 'fifa': 3,
 'soccer': 1,
 'female': 1,
 'players': 5,
 'work': 6,
 'sinclair': 1,
 'proved': 1,
 'best': 20,
 'world': 7,
 'specifically': 1,
 'named': 1,
 'passing': 1,
 'imagine': 2,
 'quite': 2,
 'primitive': 2,
 'purely': 1,
 'adhere': 1,
 'belief': 1,
 'system': 2,
 'wish': 2,
 '60fps': 2,
 'patch': 3,
 'whilst': 1,
 'locking': 1,
 'features': 1,
 'behind': 2,
 'technically': 1,
 'weren‚Äôt': 1,
 'lying': 1,
 'they‚Äôll': 2,
 'enter': 3,
 'chance': 2,
 'nintendo': 3,
 'üéü': 2,
 'tickets': 3,
 'low': 2,
 '¬£2': 2,
 '‚ùó': 2,
 'uk': 4,
 'residents': 2,
 'üî¥': 3,
 'winners': 3,
 'selected': 2,
 'cash': 3,
 'alternatives': 2,
 'xvswjgl4n9': 1,
 '8yft0llck0': 1,
 '60': 1,
 'fat': 1,
 'dying': 1,
 'working': 4,
 'dude': 2,
 'weak': 2,
 '2013': 1,
 '2022': 3,
 'videogame': 1,
 'cares': 2,
 'stop': 5,
 'scrabbling': 1,
 'pro': 1,
 'adequate': 1,
 'deny': 1,
 'journalist': 1,
 'xtnejacktz': 1,
 'happening': 2,
 'cold': 1,
 'idky': 1,
 'anybody': 1,
 'issues': 1,
 'wrfkqwhueg': 1,
 'box': 1,
 'io8aggirav': 1,
 'chaos': 1,
 'depend': 1,
 '20dollars': 1,
 '$80': 1,
 'save': 2,
 '$50': 1,
 'saves': 1,
 'transfer': 1,
 'poison': 1,
 'sale': 3,
 'understand': 2,
 'he‚Äôs': 2,
 'demonssouls': 2,
 'demon': 1,
 'thlfpy9fa7': 1,
 'paid': 3,
 'madden': 2,
 '22': 6,
 'mvp': 1,
 'last': 5,
 'compatible': 1,
 'promised': 1,
 'yesterday': 2,
 'eligible': 1,
 'refund‚Ä¶': 1,
 'fishing': 1,
 'extra': 5,
 '¬£20': 2,
 'content': 7,
 '¬£15': 1,
 '¬£10': 2,
 '9tgccgdmkq': 1,
 'nvm': 1,
 'ratio': 1,
 'üöÄ': 6,
 'xboxsx': 1,
 'stock': 4,
 '6': 3,
 '35': 1,
 'ztlm5fkgjt': 1,
 'otf0kujvkr': 1,
 '24': 2,
 'restock': 1,
 'livestream': 1,
 'xboxdrop': 1,
 'xboxrestock': 1,
 'ad': 3,
 'lemxmruazw': 1,
 'discover': 2,
 'share': 3,
 'app': 3,
 '==&gt': 3,
 'd9gqttb7wm': 2,
 'playstation4': 7,
 'pstournaments': 5,
 'openseries': 5,
 'tekken': 6,
 'tekken7': 3,
 'euregion': 3,
 'hkq0phyvpd': 1,
 'nw0hvqapdj': 1,
 'gtav': 1,
 'word': 2,
 'square': 1,
 'enix': 1,
 'queue': 1,
 'lots': 1,
 'devs': 1,
 'xtehuydiz0': 1,
 'joke': 1,
 'might': 2,
 'photo': 1,
 'mode': 1,
 'üòç': 1,
 'ones': 2,
 'admit': 1,
 'isn': 1,
 'perfect': 1,
 'easily': 2,
 'fuck': 1,
 'permanently': 1,
 'continues': 1,
 'enjoy': 3,
 'company': 2,
 'gets': 2,
 'sued': 1,
 'false': 2,
 'advertising': 1,
 ...}

In [12]:
total = len(words)         # total de palavras no banco de dados
totalM = (sum(M.values())) # total de palavras na categoria Muito Relevante
totalR = (sum(R.values())) # total de palavras na categoria Relevante
totalP = (sum(P.values())) # total de palavras na categoria Pouco Relevante
totalI = (sum(I.values())) # total de palavras na categoria Irrelevante

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [13]:
from pandas.api.types import CategoricalDtype
l = [] # lista de classifica√ß√µes, mesma ordem de test

for i, tweet_data in test.iterrows():  # itera pelas linhas do dataframe
    # valores para a probabiliade do tweet ser determinada relevancia, come√ßa em 1 (elemento neutro da multiplica√ß√£o)
    i = 1
    p = 1
    r = 1
    m = 1
    tweet = tweet_data.Teste # separa a coluna do tweet
    
    # faz limpezas no texto
    for word in clean_up(tweet).split(): 
        
        # calcula as probabilidades de cada relevancia fazendo suavizavao de laplace
        r *= (R.get(word, 0) + 1) / (totalR + total) 
        p *= (P.get(word, 0) + 1) / (totalP + total) 
        i *= (I.get(word, 0) + 1) / (totalI + total) 
        m *= (M.get(word, 0) + 1) / (totalM + total)
        
    result = {"Muito Relevante": m,"Relevante": r,"Pouco Relevante": p,"Irrelevante": i} # dicion√°rio para comparar dentro do MAX abaixo
    
    l.append(max(result, key = result.get)) # compara os valores de r, p, i, e adiciona √† lista L 

test.Categoria = pd.Categorical(values=l,categories=["Muito Relevante","Relevante", "Pouco Relevante", "Irrelevante"],ordered=True)

In [14]:
test.gabas = test.gabas.astype("category")
test.gabas.cat.categories = ["Muito Relevante","Relevante", "Pouco Relevante", "Irrelevante"]

In [15]:
test.head(80)

,Teste,Categoria,gabas
0,"@cataferal hi tom, a couple things. in your f1...",Muito Relevante,Muito Relevante
1,@infamizmikep if the conversation is about gam...,Relevante,Relevante
2,@jte2409 @mcquack306 no free upgrade from ps4 ...,Irrelevante,Relevante
3,@abduplays_ just in time because i just got a ...,Irrelevante,Irrelevante
4,y‚Äôall gotta ps5?,Relevante,Irrelevante
...,...,...,...
75,what's #best today on https://t.co/cxcprnejia ...,Irrelevante,Irrelevante
76,@destinlegarie i mean at this point that shoul...,Irrelevante,Irrelevante
77,i literally love sony wait as someone who‚Äôs ne...,Irrelevante,Irrelevante
78,@gloriouskev @thicc_stick_boi it's still one p...,Irrelevante,Relevante
79,@vicious696 and i‚Äôm honestly not affected from...,Relevante,Pouco Relevante

In [16]:
pd.crosstab(test.Categoria,test.gabas)

gabas            Muito Relevante  Relevante  Pouco Relevante  Irrelevante
Categoria
Muito Relevante                5          2                1           22
Relevante                      8         18                3           52
Pouco Relevante                0          0               27            4
Irrelevante                    1         16                5           86

In [17]:
pd.crosstab(test.Categoria,test.gabas,normalize="index").round(4)*100

gabas            Muito Relevante  Relevante  Pouco Relevante  Irrelevante
Categoria
Muito Relevante            16.67       6.67             3.33        73.33
Relevante                   9.88      22.22             3.70        64.20
Pouco Relevante             0.00       0.00            87.10        12.90
Irrelevante                 0.93      14.81             4.63        79.63

In [18]:
pd.crosstab(test.Categoria,test.gabas,normalize="columns").round(4)*100

gabas            Muito Relevante  Relevante  Pouco Relevante  Irrelevante
Categoria
Muito Relevante            35.71       5.56             2.78        13.41
Relevante                  57.14      50.00             8.33        31.71
Pouco Relevante             0.00       0.00            75.00         2.44
Irrelevante                 7.14      44.44            13.89        52.44

In [19]:
pd.crosstab(test.Categoria,test.gabas,normalize=True).round(4)*100

gabas            Muito Relevante  Relevante  Pouco Relevante  Irrelevante
Categoria
Muito Relevante              2.0        0.8              0.4          8.8
Relevante                    3.2        7.2              1.2         20.8
Pouco Relevante              0.0        0.0             10.8          1.6
Irrelevante                  0.4        6.4              2.0         34.4

In [20]:
print(totalM)
print(totalR)
print(totalP)
print(totalI)

592
1870
1827
5328

___
### Concluindo

In [21]:
train.Categoria.value_counts()

irrelevante        312
relevante           88
pouco relevante     74
muito relevante     26
Name: Categoria, dtype: int64

In [22]:
test.gabas.value_counts()

Irrelevante        164
Relevante           36
Pouco Relevante     36
Muito Relevante     14
Name: gabas, dtype: int64

In [23]:
test.Categoria.value_counts()

Irrelevante        108
Relevante           81
Pouco Relevante     31
Muito Relevante     30
Name: Categoria, dtype: int64

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

In [24]:
df1 = pd.read_excel(filename)
df2 = pd.read_excel(filename, sheet_name = 'Teste')
df1 = df1.drop("Unnamed: 2",axis=1)
df2 = df2.drop("Categoria",axis=1)
df1 = df1.rename(columns={"Treinamento":"Tweets"})
df2 = df2.rename(columns={"Teste":"Tweets","gabas":"Categoria"})

In [25]:
tweets = pd.concat([df1,df2],ignore_index=True)
tweets.head(3)

                                              Tweets  Categoria
0  @jamiltdavis @vicious696 i say the cutoff shou...          4
1  @rgt_85 @obe1plays when @rgt_85 tweets at you....          4
2  @one_gamergal6 @xboxstockalerts if you guys st...          3

In [26]:
tweets = tweets.sample(frac=1)
tweets.head(3)

                                                Tweets  Categoria
259  @scythebiscuit @curryspcworld i have a ps5 nev...          4
171                      @lbabinz more ps5 stock soon?          3
699  @agnaktorisbest look at it yourself bruv. it‚Äôs...          4

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**